@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url("/img/backgrounds/background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0%;
    text-align: center;
}

.profile {
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
}

.squished {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.squished * {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

a:hover, a:visited, a:link, a:active {
    color: lightgray;
}

img {
    display: block;
    margin: 0 auto;
    height: auto;
}

.tag {
    color: lightblue;
}

.info {
    color: gray;
}

.render, .megabanner {
    width: 50vh;
}

.extra {
    width: 30vh;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.columns-left {
    justify-content: left;
}

.column {
    flex: 0 1 auto;
    min-width: 300px;
}

.cards, .templates {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 10px;
    justify-items: center;
}

.card, .template {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.cardPreview {
    width: 15%;
    height: auto;
}

#previewImg {
    width: 562px;
    height: 785px;
}

.template {
    width: 30vh;
    height: auto;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.overlay-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button {
    border: 0px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#themeOpener {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 27px;
}

.downloadSetJson {
    border-radius: 5px;
    margin-bottom: 5px;
}

.themeDisplay {
    border: 2px solid white;
    width: 500px;
    height: auto;
    cursor: pointer;
}

a {
    text-decoration: underline;
}

.moves, .pokedexEntry {
    width: 25%;
    margin: 0 auto;
    text-align: left;
}

p img {
    display: inline-block;
    vertical-align: middle;
    height: 1.3em;
    width: auto;
}

.abilityName {
    color: #ff5454FF;
}